<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Acez_EavGrid>
			<version>0.1.0</version>
		</Acez_EavGrid>
	</modules>
	
	<global>
		<blocks>
			<acez_eavgrid_adminhtml>
				<class>Acez_EavGrid_Block_Adminhtml</class>
			</acez_eavgrid_adminhtml>
		</blocks>
		<helpers>
			<acez_eavgrid>
				<class>Acez_EavGrid_Helper</class>
			</acez_eavgrid>
		</helpers>
		<models>
			<acez_eavgrid>
				<class>Acez_EavGrid_Model</class>
				<resourceModel>acez_eavgrid_resource</resourceModel>
			</acez_eavgrid>
			<acez_eavgrid_resource>
				<class>Acez_EavGrid_Model_Resource</class>
				<entities>
					<eavgrid_entity>
						<table>acez_eavgrid_data_entity</table>
					</eavgrid_entity>
				</entities>
			</acez_eavgrid_resource>
		</models>

		<resources>
			<acez_eavgrid_setup>
				<setup>
					<module>Acez_EavGrid</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</acez_eavgrid_setup>
			<eavgrid_read>
				<connection>
					<use>core/read</use>
				</connection>
			</eavgrid_read>
			<eavgrid_write>
				<connection>
					<use>core/write</use>
				</connection>
			</eavgrid_write>
		</resources>
	</global>

	<admin>
		<routers>
			<acez_eavgrid_admin>
				<use>admin</use>
				<args>
					<module>Acez_EavGrid_Adminhtml</module>
					<frontName>acez-eavgrid</frontName>
				</args>
			</acez_eavgrid_admin>
		</routers>
	</admin>
</config>